.emailList {
    flex: 1;
    overflow: scroll;
}

.emailList__settings {
    display: flex;
    justify-content: space-between ;
    top: 0;
    padding-right: 10px;
    position: sticky;
    border-bottom: 1px solid #f5f5f5;
    background-color: #ffffff;
    z-index: 100;
}

.emailList_sections {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
    border-bottom: 1px solid #f5f5f5;
}

.emailList__list {
    padding-bottom: 20%;
}